.flex-direction-nav a {
    width: 60px;
    height: 60px;
}

.home_headline_topics{
  .recommend_topic{
    padding: 5px;
    .recommend_topic_info{
      border-bottom: 1px;
        border-bottom-style: solid;
    }
  }
}

.home_excellent_topics{
  .node_block{
    padding: 15px;
    .recommend_topic{
      padding: 5px;
      .recommend_topic_info{

        background-color: #F2F2F2;
      }
    }
  }
}

.node-list {
  .node {
    margin-bottom: 10px;
    margin-top: 0px;
    &:last-child { margin-bottom: 0px; }
    .media-left { min-width: 130px; }
    label { font-weight: normal; color: #aaa; text-align: right; }
    .name {
      margin-bottom: 10px;
      width: 100px;
      display: block;
      float: left;
      text-align: left;
      a:link, a:visited { color: #333; }
    }
  }
}
