.flex-direction-nav a {
    width: 60px;
    height: 60px;
}

.content-block {
  background: #FAFAFA;
  border-radius: 5px;

  .title{
    font-weight: bold;
    padding: 6px;
    color: #919191;
  }
}

// .home_headline_topics{
  .recommend-topic{
    padding-bottom: 3px;
    .recommend-topic-item{
      background-color: #EBEBEB;
      margin-top: 3px;
      margin-left: 5px;
      margin-right: 5px;
      .recommend-topic-info{
        height: 62px;
        border-bottom: 1px;
        p {
          margin-top: 22px;
        }
      }
    }
  }
// }

.home_excellent_topics{

  .node-block{
    margin-bottom: 5px;
    padding: 10px;
  }
}

// .node-list {
//   .node {
//     margin-bottom: 10px;
//     margin-top: 0px;
//     &:last-child { margin-bottom: 0px; }
//     .media-left { min-width: 130px; }
//     label { font-weight: normal; color: #aaa; text-align: right; }
//     .name {
//       margin-bottom: 10px;
//       width: 100px;
//       display: block;
//       float: left;
//       text-align: left;
//       a:link, a:visited { color: #333; }
//     }
//   }
// }
